# Crontab fields: 
#   (1) minute (0 to 59)
#   (2) hour (0 to 23)
#   (3) day of month ( 1 to 31)
#   (4) month (1 to 12)
#   (5) day of week (0 to 6 where Sunday = 0)
#
#
# Examples:
#   https://crontab.guru/examples.html
#
#
# vs UTC
#   EST = -5
#   EDT = -4
#
#
# run every 5th minute
#*/5 * * * * /cron/scripts/git-backup.sh
#
#
#
# run every day at 0730 UTC = 0230 EST / 0330 EDT
30 7 * * * /cron/scripts/git-backup.sh
#
#
#
# Cron requires a blank line below!  Some editors remove trailing blank lines.  This container will add a blank line.

